body{
  background-image: linear-gradient(#5d5c61, #464646, #7395ae, #557a95, #b1a296);
  font-family: sans-serif;
}
#stuff{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 1fr 1fr 1fr */
  grid-auto-rows: minmax(200px, auto);
  /* row-gap: 20px;
  column-gap: 20px; */
  /* gap: 20px */

  grid-template-areas:
    "header header header header"
    "sidebar  conten  conten  conten"
    "sidebar  article article article"
    "sidebar  article article article"
    "sidebar  article article article"
    "sidebar  article article article"
    "sidebar  article article article"
    "footer footer footer footer"

}
img{
  width: 20vw;
  height: 20vw;
}
#header{
  font-family: serif;
  font-weight: bold;
  grid-area: header;
  background-color: none;
  font-size: 7vw;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  width: 100%;
  
  
  
}
#show-results-btn{
  grid-area: sidebar;
  font-size: 2vw;
  background-color: none;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  width: 96.4%;
  padding: 5px;
 
}
#img-container{
grid-area: conten;
background-color: none;
border: 5px solid transparent;
border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
border-image-slice: 1;
width: 100%;
padding: 5px;
}
#words{
  grid-area: article;
  background-color: none;
  font-size: 3vw;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  width: 100%;
}
#foot{
  font-size: 7vw;
  grid-area: footer;
  background-color: none;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  width: 100%;
}
.nameOfImg{
  color: blue;
}
.views{
  color: aqua;
}
.clicks{
  color: aqua;
}